:root {
  --white: #ece5f0;
  --highlight: #eb5e28;
  --black: #252422;
  // --maincolor: #403D39;
  --maincolor: #283248;
  --secondarycolor: #d9d9d9;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:active {
  color: var(--highlight);
}

body {
  overflow: auto;
}
